# True for development, should be False for production
DEBUG=True

SECRET_KEY='MY_SECRET_KEY'

# the domain name -> for ALLOWED_HOST
SERVER='127.0.0.1' 

# the actual address of the server -> for CSRF_TRUSTED_ORIGINS
APP_ADDRESS='http://127.0.0.1:85'
