{% extends "layouts/base.html" %}
{% block title %} Acceuil {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12">
    <div class="container">
        <div class="row">
            <p class="text-center">
                {% if msg %}
                    {{ msg | safe }}
                {% endif %}  
            </p>        
            <div class="col-12 text-center">
                <h1 class="fw-bolder display-2">WEI - AEN7 </span></h1>
                <h2 class="lead fw-normal text-muted mb-4 px-lg-10">plateforme permettant la gestion des inscriptions pour le WEI 2024/2025 organisé par l'AEN7 </h2>
                <div class="d-flex justify-content-center">
                    <img src="/static/assets/img/NinjAE_sans_fond.png" class="d-block mx-auto mb-3" alt="aen7 Logo">
                </div>
               
            </div>
        </div>
    </div>
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
