{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign IN {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Section -->
    <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="/static/assets/img/pages/form-image.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h2 class="mb-0 h3">
                                <a target="_blank" rel="noopener noreferrer">WEI - 2024/2025</a> Authentification
                            </h2>
                            <p class="text-center">
                                {% if msg %}
                                    {{ msg | safe }}
                                {% else %}
                                    Entrez votre identifiant et mot de passe
                                {% endif %}  
                            </p>                              
                        </div>

                        <form method="POST" action="" class="mt-4">
                            
                            {% csrf_token %}

                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="email">Identifiant</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><span class="fas fa-user"></span></span>
                                    {{ form.username }}
                                </div>  
                            </div>
                            <div class="form-group">
                                <div class="form-group mb-4">
                                    <label for="password">Mot de passe</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                        {{ form.password }}
                                    </div>  
                                </div>
                                <!-- End of Form -->
                                
                            </div>
                            <div class="d-grid">
                                <button type="submit" name="login" class="btn btn-block btn-primary">Se Connecter</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 d-flex align-items-center justify-content-center">
                    <br />    
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <br />    
                    <span class="text-white font-small"> 
                        &copy; <a target="_blank" rel="noopener noreferrer" href="#">  AEN7 - WEI-2024/2025 </a> 
                    </span>
                </div>                  
            </div>
        </div>
    </section>
        
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
